#formbox {
    border: 3px solid rgba(13,110,253,255) !important;
}

#navbar {
    background-color: rgba(13,110,253,255) !important;
}


.navsegment{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: 0 10px 0 10px;
}

.notification {
    background-color: #ff2525;
    color: white;
    border-radius: 50%;
    padding: 3px;
    width: 2.7rem;
    height: 2.7rem;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
  }
.notificationtext {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.tooltipz {
  visibility: hidden;
  width: 350px;
  background-color: rgb(13,110,253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
    right:0px;
    top: 4rem;
  z-index: 1;

}
a:hover .tooltipz {
    visibility: visible;
  }

.main-div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center-div {
    display: flex;
    justify-content: center;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.navbarletter {
    color: white !important;
    font-weight: bold;
    font-size: large;
}

.nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:4rem;
    transition: 0.2s;
}

.nav-item:hover {
    background-color: white;
}

/* if the notificatio nav-item is hovered, do nothing */
.hover:hover {
    background-color: rgba(13,110,253,255) !important;
}
.notification:hover {
    background-color: white;
}
.hover:hover .notificationtext {
    color: #ff2525;
}

.nav-item:hover .navbarletter {
    color: rgba(13,110,253,255) !important;
}

.navbar-box {
    background-color: rgba(13,110,253,255);
}

.timebox {
    max-width: 600px;
    width: 60%;
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius:1rem;
    /*border: 3px solid rgba(13,110,253,255);*/
}

.timebox-item {
    text-align: center;
    min-width: 100px;
    width: fit-content;
    color: white;
    font-size: large;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(13,110,253);
    border-radius: 8px;
    border: 2px solid rgb(255,255,255);
}

.timebox-item:disabled
{
    background-color: rgb(177, 208, 255);
    border: 2px solid rgb(255,255,255);
}
.timebox-item:disabled:hover
{
    background-color: rgb(177, 208, 255);
    border: 2px solid rgb(255,255,255);
    font-weight: 400;
    color: white
}

.timebox-item:hover {
    background-color: white;
    color: rgb(13,110,253);
    border: 2px solid rgb(13,110,253);
    font-weight: bolder;
}
tr {
    height: 55px;
}

html {
    background-color: white;
}

#calendar-table {
    width: 50%;
    min-width:600px;
}

.table_header {
    width: 20%;
}

#notif-box {
    border: 4px solid yellow;
    background-color: #fbffc3;
    border-radius: 8px;
    width: fit-content;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
}

.notif-box-head {
    margin-top: 5px; 
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    #calendar-table {
        width: 90%;
        margin-right: 0;
        min-width: 300px;
    }
    .navsegment{
        flex-direction: row;
        align-items: center;
    }
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .timebox{
        width: 90%;
        margin-right: 0;
        min-width: 300px;
    }
}

@media screen and (max-width: 555px) {
    .navsegment{
        flex-direction: column;
        align-items: center;
    }
}