#formbox {
    border: 3px solid rgba(13,110,253,255) !important;
}

#navbar {
    background-color: rgba(13,110,253,255) !important;
}

.navbarletter {
    color: white !important;
    font-weight: bold;
    font-size: large;
}

.nav {
    margin-left: 10px;
}

.nav-item {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover .navbarletter {
    color: rgba(13,110,253,255) !important;
}

.navbar-box {
    background-color: rgba(13,110,253,255);
}

.center-div {
    display: flex;
    justify-content: center;
}